<div class="container">
  <h1>MJ Cookbook</h1>
  <p>A project to provide recipe and meal sharing for users!</p>

  <hr>

  <h3>Top Recipes or maybe random recipes</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>More Info</th>
        <th>More Info</th>
        <th>More Info</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>First Recipe</td>
        <td>n/a</td>
        <td>n/a</td>
        <td>n/a</td>
      </tr>
    </tbody>
  </table>

  <hr>

  <h3>Some Favorite Recipes</h3>
  <h4>The title of this recipe</h4>
  <p>The information about the recipe</p>
</div>
