<div class="container">
  <div *ngIf="!singleView">
    <h1>{{title}}</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Time</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let recipe of recipes">
          <td (click)="selectARecipe(recipe)">{{recipe.title}}</td>
          <td>{{recipe.user.username}} ({{recipe.user.profile.firstName}} {{recipe.user.profile.lastName}})</td>
          <td>(**some amount of time**)</td>
          <td>(**some amount of rating**)</td>
        </tr>
      </tbody>
    </table>
    <button (click)="createNewRecipe()" >Enter New Recipe</button>
  </div>

  <div *ngIf="singleView">
    <h3>{{selectedRecipe.title}}</h3>
    <p>{{selectedRecipe.recipeText}}</p>
    <div *ngIf="selectedRecipe.instructions.length > 0">
      <h4>Instructions</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Sequence</th>
            <th>Actions</th>
            <th>Ingredients</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let instruction of selectedRecipe.instructions">
            <td>{{instruction.sequence}}</td>
            <td>{{instruction.text}}</td>
            <td>
              <span *ngFor="let ingredient of instruction.ingredients">
                <em>{{ingredient.name}}</em>
                ({{ingredient.amount}})
                [can sub: {{ingredient.substitute}}]
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button (click)="editRecipe()">Edit this recipe</button>
    <br>
    <button (click)="showInstructionsEdit = true">Edit these instructions</button>
  </div>

  <div *ngIf="showRecipeForm">
    <h3>Recipe Form</h3>
    <form>
      <label for="title">Title:</label><br>
      <input type="text" id="title" name="title" [(ngModel)]="selectedRecipe.title"><br><br>
      <label for="recipeText"> Instructions:</label><br>
      <input type="text" id="recipeText" name="recipeText" [(ngModel)]="selectedRecipe.recipeText"><br><br>
      <button (click)="submitRecipe()">Submit</button>
    </form>
    <div *ngIf="selectedRecipe.id != null">
      <br>
      <button (click)="showDelete = true">Delete</button>
      <div>
        <br>
        <p>Are you sure?</p>
        <br>
        <button (click)="disable(selectedRecipe)">Yes</button>
        <button (click)="showDelete = false">Cancel</button>
      </div>
    </div>
  </div>

  <div *ngIf="showInstructionsEdit">
    <div cdkDropList class="" (cdkDropListDropped)="drop($event)">
      <div class="" *ngFor="let instruction of selectedRecipe.instructions" cdkDrag>{{instruction.text}}</div>
      <!-- a div for the list drag and drop thing! -->
    </div>
    <button (click)="showInstructionsEdit = false">Cancel</button>
  </div>

</div>
