<div class="container">
  <div *ngIf="!singleView">
    <h1>Recipes</h1>
    <table class="table table-bordered table-hover table-sm">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Time</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let recipe of recipes">
          <td (click)="selectARecipe(recipe)">{{recipe.title}}</td>
          <td>{{recipe.user.username}} ({{recipe.user.profile.firstName}} {{recipe.user.profile.lastName}})</td>
          <td>(**some amount of time**)</td>
          <td>(**some amount of rating**)</td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-primary" (click)="createNewRecipe()" >Enter New Recipe</button>
  </div>

  <div *ngIf="singleView">
    <h3>{{selectedRecipe.title}}</h3>
    <p>{{selectedRecipe.recipeText}}</p>
    <button type="button" class="btn btn-secondary" (click)="editRecipe()">Edit this recipe</button>
    <br>
    <hr>
    <br>
    <div *ngIf="selectedRecipe.instructions.length > 0">
      <h4>Instructions</h4>
      <table class="table table-bordered table-hover table-sm">
        <thead>
          <tr>
            <th>Sequence</th>
            <th>Actions</th>
            <th>Ingredients</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let instruction of selectedRecipe.instructions">
            <td>{{instruction.sequence}}</td>
            <td>{{instruction.text}}</td>
            <td>
              <span *ngFor="let ingredient of instruction.ingredients">
                <em>{{ingredient.name}}</em>
                ({{ingredient.amount}})
                [can sub: {{ingredient.substitute}}]
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <button type="button" class="btn btn-secondary" (click)="showEditInstructions()">Edit these instructions</button>
  </div>

  <div *ngIf="showRecipeForm">
    <h3>Recipe Form</h3>
    <form>
      <label for="title">Title:</label><br>
      <input type="text" id="title" name="title" [(ngModel)]="selectedRecipe.title"><br><br>
      <label for="recipeText"> Instructions:</label><br>
      <input type="text" id="recipeText" name="recipeText" [(ngModel)]="selectedRecipe.recipeText"><br><br>
      <button (click)="submitRecipe()">Submit</button>
    </form>
    <div *ngIf="selectedRecipe.id != null">
      <br>
      <button type="button" class="btn btn-primary" (click)="showDelete = true">Delete</button>
      <div>
        <br>
        <p>Are you sure?</p>
        <br>
        <button type="button" class="btn btn-danger" (click)="disable(selectedRecipe)">Yes</button>
        <button type="button" class="btn btn-secondary" (click)="showDelete = false">Cancel</button>
      </div>
    </div>
  </div>

  <div *ngIf="showInstructionsEdit">
    <br>
    <div
     cdkDropList
     class="instruction-list"
     (cdkDropListDropped)="drop($event)">
      <div
        class="instruction-box"
        *ngFor="let instruction of instructionsForEdit"
        cdkDrag>
        <span>
          {{instruction.text}}
        </span>
        <span>
          <div *ngFor="let ingredient of instruction.ingredients">
            {{ingredient.name}} {{ingredient.amount}}
          </div>
        </span>
      </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="submitEditInstructions()">Submit</button>
    <button type="button" class="btn btn-secondary" (click)="cancelEditInstructions()">Cancel</button>
  </div>

</div>
