<div class="container">
<div *ngIf="!singleView">
  <h1>{{title}}</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let recipe of recipes">
        <td (click)="selectARecipe(recipe)">{{recipe.title}}</td>
        <td>{{recipe.user.username}}</td>
      </tr>
    </tbody>
  </table>
  <button (click)="createNewRecipe()" >Enter New Recipe</button>
</div>

<div *ngIf="singleView">
  <h3>{{selectedRecipe.title}}</h3>
  <p>{{selectedRecipe.recipeText}}</p>
  <button (click)="editRecipe()">Edit this recipe</button>
</div>

<div *ngIf="showForm">
  <form>
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" [(ngModel)]="selectedRecipe.title"><br><br>
    <label for="recipeText"> Instructions:</label><br>
    <input type="text" id="recipeText" name="recipeText" [(ngModel)]="selectedRecipe.recipeText"><br><br>
    <button (click)="submit()">Submit</button>
  </form>
</div>

</div>
