<div class="container">

<div *ngIf="loggedIn">
  <!-- user information display -->
  <h3>{{user.username}}</h3>
  <table>
    <tr>
      <th>First Name</th>
      <td>{{user.profile.firstName}}</td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td>{{user.profile.lastName}}</td>
    </tr>
    <tr>
      <th>Description</th>
      <td>{{user.profile.description}}</td>
    </tr>
  </table>
  <button type="button" class="btn btn-secondary" (click)="showEdit = true">Edit User Info</button>
  <!-- edit user form -->
  <div *ngIf="showEdit">
    <form>
      <label for="title">Username:</label><br>
      <input type="text" name="title" [(ngModel)]="user.username"><br><br>
      <label for="password"> Password:</label><br>
      <input type="password" name="password" [(ngModel)]="user.password"><br><br>
      <label for="firstName"> First Name:</label><br>
      <input type="text" name="firstName" [(ngModel)]="user.profile.firstName"><br><br>
      <label for="lastName"> Last Name:</label><br>
      <input type="text" name="lastName" [(ngModel)]="user.profile.lastName"><br><br>
      <label for="description"> Description:</label><br>
      <input type="text" name="description" [(ngModel)]="user.profile.description"><br><br>
      <button type="button" class="btn btn-secondary" (click)="update()">Submit</button>
    </form>
  </div>

</div>

<!-- no user logged in, show login, new user forms -->
<div *ngIf="!loggedIn">
  <!-- login form -->
  <h3>Login Form</h3>
  <form #login="ngForm">
    <label for="username">Username:</label><br>
    <input type="text" name="username" ngModel><br><br>
    <label for="password">Password:</label><br>
    <input type="password" name="password" ngModel><br><br>
    <button type="submit" class="btn btn-success" (click)="logIn(login)">Login</button>
  </form>
  <br><hr><br>
  <!-- new user form -->
  <h3>New User Form</h3>
  <form>
    <label for="username">Username:</label><br>
    <input type="text" name="username" [(ngModel)]="user.username"><br><br>
    <label for="password"> Password:</label><br>
    <input type="password" name="password" [(ngModel)]="user.password"><br><br>
    <label for="firstName"> First Name:</label><br>
    <input type="text" name="firstName" [(ngModel)]="user.profile.firstName"><br><br>
    <label for="lastName"> Last Name:</label><br>
    <input type="text" name="lastName" [(ngModel)]="user.profile.lastName"><br><br>
    <label for="description"> Description:</label><br>
    <input type="text" name="description" [(ngModel)]="user.profile.description"><br><br>
    <button type="submit" class="btn btn-success" (click)="submit()">Submit</button>
  </form>
</div>

</div>
